<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Restaurant</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h2>Add Restaurant</h2>

    <!-- Search Form -->
    <form method="POST" action="/add-restaurant">
        <br><br>
        <input type="text" name="notes" placeholder="Name">
                <br><br>
        <input type="text" name="notes" placeholder="Cuisine">
                <br><br>
        <input type="text" name="notes" placeholder="City">
                <br><br>
        <input type="text" name="notes" placeholder="State">
                <br><br>
        <input type="number" step="0.01" placeholder="Price (1-3 Scale)">
                <br><br>
        <input type="text" name="notes" placeholder="Notes">
        <br><br>
        <button type="submit">Create</button>
    </form>
</div>
</body>
</html>